---
- name: Cordonner le nœud (non planifiable)
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}"
    kind: Node
    name: "{{ inventory_hostname }}"
    state: present
    definition:
      spec:
        unschedulable: true

- name: Drainer le nœud (évacuer les pods en respectant les PDB)
  kubernetes.core.k8s_drain:
    kubeconfig: "{{ kubeconfig_path }}"
    name: "{{ inventory_hostname }}"
    delete_emptydir_data: "{{ k8s_evacuate_emptydir }}"
    ignore_daemonsets: "{{ k8s_ignore_daemonsets }}"
    timeout: "{{ drain_timeout }}"
