---
- name: Rebooter le nœud si nécessaire
  reboot:
    reboot_timeout: 900
    test_command: "hostname"
  when: reboot_needed | default(true)

- name: Attendre que le nœud soit de nouveau joignable
  wait_for_connection:
    timeout: 300
